<!DOCTYPE html>
<html lang="bn">

<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin Dashboard - বরিশাল মাছ ঘর</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

<h1>🐟 বরিশাল মাছ ঘর</h1>

<h2>⚙️ Admin Dashboard</h2>


<a href="/add_fish">
    <button>
        ➕ নতুন মাছ যোগ করুন
    </button>
</a>


<br><br>


<a href="/orders">
    <button>
        📦 অর্ডার দেখুন
    </button>
</a>


<br><br>


<p>
মোট মাছ: {{ total_fish }} টি
</p>


<h2>🐟 মাছের তালিকা</h2>


{% for fish in fishes %}

<div class="fish-card">


{% if fish.image %}

<img src="{{ url_for('static', filename='images/' + fish.image) }}" width="200">

{% endif %}


<h3>
{{ fish.name }}
</h3>


<p>
দাম: ৳{{ fish.price }}/কেজি
</p>


<p>
স্টক: {{ fish.stock }} কেজি
</p>


<a href="/edit_fish/{{ fish.id }}">
    <button>
        ✏️ Edit
    </button>
</a>


<a href="/delete_fish/{{ fish.id }}">
    <button>
        🗑 Delete
    </button>
</a>


</div>


{% endfor %}


<br>


<a href="/logout">
    <button>
        🚪 Logout
    </button>
</a>


</body>

</html>
