body {
    font-family: Arial, sans-serif;
    background: #eef8ff;
    text-align: center;
    margin: 0;
    padding: 20px;
}


h1 {
    color: #00695c;
    font-size: 38px;
    margin-bottom: 10px;
}


h2 {
    color: #004d40;
    margin-top: 30px;
}


p {
    font-size: 18px;
    color: #333;
}


/* Fish Card */

.fish-card {
    background: white;
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px #ccc;
    transition: 0.3s;
}


.fish-card:hover {
    transform: translateY(-5px);
}


.fish-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}


.fish-card h3 {
    color: #00796b;
    font-size: 24px;
}


/* Button */

button {
    background: #00897b;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}


button:hover {
    background: #004d40;
}


/* Order Form */

form {
    background: white;
    width: 90%;
    max-width: 350px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px #ccc;
}


input, textarea, select {
    width: 90%;
    padding: 13px;
    margin: 8px;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-size: 16px;
}


textarea {
    height: 90px;
}


/* Mobile */

@media(max-width:500px){

    h1{
        font-size:30px;
    }

    .fish-card{
        width:90%;
    }

}
