<!DOCTYPE html>
<html lang="bn">

<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>বরিশাল মাছ ঘর</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<h1>🐟 বরিশাল মাছ ঘর</h1>

<p>বাংলাদেশের তাজা ও নিরাপদ মাছ আপনার ঘরে পৌঁছে দিচ্ছি</p>


<h2>আমাদের জনপ্রিয় মাছ</h2>

<div class="fish-container">

{% for fish in fishes %}


<div class="fish-card">


{% if fish.image %}

<img src="{{ url_for('static', filename='uploads/' + fish.image) }}" width="250">


{% endif %}


<h3>🐟 {{ fish.name }}</h3>


<p>
<strong>দাম:</strong>
৳ {{ fish.price }} / কেজি
</p>

<a href="/order?fish_id={{ fish.id }}">
    <button>
        অর্ডার করুন
    </button>
</a>

</div>


{% endfor %}

</div>

</body>

</html>
